body {
  background-color: var(--c1);
  margin: 0;
  overflow: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

:root {
  /*--c1: #046886;
  --c2: #008A9A;
  --c3: #00AB9E;
  --c4: #50CA91;
  --c5: #A2E47E;
  --c6: #F9F871;*/
  --c1: #1f1f1f;
  --c2: #a8c7fa;
  --c3: #28292a;
  --c4: #004a77;
  --c5: #e3e3e3;
  --c6: #7fcfff;
  --c7: #c2e7ff;
  --c8: #062e6f;
}

* {
  transition: all 1.5s ease;
}

@font-face {
  font-family: "jumble";
  src: url("assets/fonts/Jumble-Regular.woff") format("woff");
}
@font-face {
  font-family: "Google Sans";
  src: url("assets/fonts/GoogleSans.woff2") format("woff2");
  font-weight: 475;
}
@font-face {
  font-family: "Google Sans Text";
  src: url("assets/fonts/GoogleSansText.woff2") format("woff2");
  font-weight: normal;
}
@font-face {
  font-family: "Google Sans Text";
  src: url("assets/fonts/GoogleSansTextMedium.woff2") format("woff2");
  font-weight: bold;
}
h1 {
  font-family: "Google Sans", sans-serif;
  font-weight: normal;
  font-size: 140px;
  color: black;
}

#title {
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  animation: simpleAppear 2s ease 0.5s forwards;
  background-color: var(--c3);
  overflow: hidden;
  flex-flow: column;
  position: relative;
}
#title .animationContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 33%;
  margin-top: 33vh;
}
#title .animationContainer #loadingAnimation {
  opacity: 1;
  width: clamp(200px, 30%, 500px);
  transition: width 2s ease;
  position: relative;
}
#title #titleText {
  position: relative;
  height: 33%;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}
#title #titleText h2 {
  font-family: "Google Sans Text", sans-serif;
  font-size: clamp(16px, 3vw, 24px);
  color: var(--c5);
  text-align: center;
  margin: 0;
}
#title #titleButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 0;
  opacity: 0;
}
#title .imageContainer {
  top: 0;
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 100%;
}
#title .imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes simpleAppear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#title.active {
  transition: 2s ease;
  /*height: clamp(max(min(33vw,60vh), 300px), 50vh, min(60vh,66vw));*/
  height: auto;
  border-radius: 24px;
  margin: 8px;
  padding-top: 40px;
  padding-bottom: 20px;
}
#title.active #titleText {
  height: auto;
}
#title.active #titleButtons {
  height: auto;
  transition: opacity 1s 1.5s ease;
  opacity: 1;
}
#title.active .animationContainer {
  transition: 1.5s ease;
  height: auto;
  align-items: flex-end;
  margin-top: 0;
}
#title.active .animationContainer #loadingAnimation {
  transition: 1.5s ease;
  width: clamp(200px, 90%, 680px) !important;
}
#title.active .animationContainer #loadingAnimation #svgText {
  fill: var(--c5);
}

.content0 {
  height: 100vh;
}

#content {
  background: var(--c2);
  height: calc(100vh + 33px);
  border-radius: 33px 33px 0 0;
}

#iframeGame {
  border-radius: 33px 33px 0 0;
  width: 100%;
  height: 100%;
  border: none;
  margin: 33px 0 0 0;
}

.mainButton {
  font-family: "Google Sans Text", sans-serif;
  font-weight: bold;
  font-size: clamp(16px, 3vw, 24px);
  color: var(--c8);
  background-color: var(--c2);
  border: none;
  border-radius: 40px;
  cursor: pointer;
  transition: all 0.5s 0s ease;
  margin: 20px;
  padding: clamp(16px, 3.125vw, 25px) clamp(32px, 6.25vw, 50px);
}
.mainButton:hover {
  background-color: var(--c6);
  border-radius: 24px;
}

/*# sourceMappingURL=style.css.map */
