body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: height 0.2s ease;
  height: 100dvh;
}

@font-face {
  font-family: "Google Sans";
  src: url("/../assets/fonts/GoogleSans.woff2") format("woff2");
  font-weight: 475;
}
h1 {
  text-align: center;
  font-family: "Google Sans", Arial, sans-serif;
  color: #e3e3e3;
}

h2 {
  text-align: center;
  font-family: "Google Sans", Arial, sans-serif;
  color: #e3e3e3;
}

#content {
  display: grid;
  justify-content: center;
  max-height: 80%;
  grid-template-rows: auto 80px 80px 80px auto 80px;
  row-gap: 8px;
  max-width: 80%;
}

@media (max-height: 600px) {
  body {
    overflow: auto;
  }
}
#example1 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.95)), url("../assets/img/example1.jpg");
}

#example2 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.95)), url("../assets/img/example2.jpg");
}

.live-examples {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 8px;
}
.live-examples > button {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #292929;
  border-radius: 24px;
  padding: 8px 2px;
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  align-items: flex-end;
}
.live-examples > button span {
  white-space: nowrap;
}
.live-examples > button:hover {
  background-color: #004a77;
  cursor: pointer;
}
.live-examples > button:hover svg path {
  fill: #a8c7fa;
}
.live-examples > button:hover div span {
  color: #062e6f;
}
.live-examples > button:active {
  border: 1px solid #e3e3e3;
}

button {
  all: unset;
  background-color: #292929;
  border-radius: 24px;
  padding: 10px 20px;
  font-family: "Google Sans";
  font-size: 16px;
  color: #e3e3e3;
  display: grid;
  grid-template-columns: 1fr 40px;
  align-items: center;
}
button:hover {
  background-color: #004a77;
  cursor: pointer;
}
button:hover svg path {
  fill: #a8c7fa;
}
button:hover div span {
  color: #062e6f;
}
button:active {
  border: 1px solid #e3e3e3;
}
button div {
  justify-self: center;
  display: grid;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}
button div svg {
  grid-row: 1;
  grid-column: 1;
  width: 40px;
  height: 40px;
}
button div svg path {
  fill: #1f1f1f;
}
button div span {
  text-align: center;
  grid-row: 1;
  grid-column: 1;
}

@media (hover: none) {
  button {
    transition: background-color 2s;
  }
  button svg path {
    transition: fill 2s;
  }
  button div span {
    transition: color 2s;
  }
  button:hover {
    background-color: #292929;
  }
  button:hover svg path {
    fill: #1f1f1f;
  }
  button:hover div span {
    color: #e3e3e3;
  }
  button:active {
    background-color: #004a77;
    transition: background-color 0.2s;
  }
  button:active svg path {
    fill: #a8c7fa;
    transition: fill 0.2s;
  }
  button:active div span {
    color: #062e6f;
    transition: color 0.2s;
  }
}
#popover {
  transition: all 10s ease;
  opacity: 0;
  background-color: #292929;
  border: none;
  border-radius: 24px;
  max-width: 80%;
  color: #e3e3e3;
  font-family: "Google Sans";
  aspect-ratio: 1/1;
}
#popover:popover-open {
  opacity: 1;
}
#popover::backdrop {
  backdrop-filter: brightness(0.8);
}
#popover .popover-content {
  height: calc(100% - 16px);
  max-width: 320px;
  display: grid;
  grid-template-rows: auto 1fr 50px;
  text-align: center;
  margin: 8px;
}
#popover .popover-content .buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 8px;
  width: 100%;
}
#popover .popover-content .buttons button {
  background-color: #1f1f1f;
  justify-content: center;
  grid-template-columns: 1fr;
}
#popover .popover-content .buttons button.highlighted {
  background-color: #004a77;
}

/*# sourceMappingURL=style.css.map */
