body{
    // disable scroll x and y
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: #1f1f1f;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: height .2s ease;
    height: 100dvh;
}

@font-face {
    font-family: "Google Sans";
    src: url('/../assets/fonts/GoogleSans.woff2') format("woff2");
    font-weight: 475;
}


h1 {
    text-align: center;
    font-family: "Google Sans", Arial, sans-serif;
    color: #e3e3e3;
}

#content{
    display: grid;
    justify-content: center;
    max-height: 80%;
    grid-template-rows: 1fr 80px 80px 80px;
    row-gap: 8px;
    max-width: 80%;
}

button{
    all: unset;
    background-color: #292929;
    border-radius: 24px;
    padding: 10px 20px;
    font-family: "Google Sans";
    font-size: 16px;
    color: #e3e3e3;
    display: grid;
    grid-template-columns: 1fr 40px;
    align-items: center;
    &:hover{
        background-color: #004a77;
        cursor: pointer;
        & svg path{
            fill: #a8c7fa;
        }
        & div span{
            color: #062e6f;
        }
    }
    &:active{
        border: 1px solid #e3e3e3;
    }
    & div{
        justify-self: center;
        display: grid;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        & svg{
            grid-row: 1;
            grid-column: 1;
            width: 40px;
            height: 40px;
            & path {
                fill: #1f1f1f;
            }
        }
        & span{
            text-align: center;
            grid-row: 1;
            grid-column: 1;
        }
    }
}

@media (hover: none){
    button{
        transition: background-color 2s;
        & svg path{
            transition: fill 2s;
        }
        & div span{
            transition: color 2s;
        }
        &:hover{
            background-color: #292929;
            & svg path{
                fill: #1f1f1f;
            }
            & div span{
                color: #e3e3e3;
            }
        }
        &:active{
            background-color: #004a77;
            transition: background-color .2s;
            & svg path{
                fill: #a8c7fa;
                transition: fill .2s;
            }
            & div span{
                color: #062e6f;
                transition: color .2s;
            }
        }


    }

}


